<table class="table">
  <thead>
    <tr>
      <th>Artista</th>
      <th>Lugar</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Disponible</th>
      <th>Entradas disponibles</th>
      <th>Comprar</th>
    </tr>
  </thead>
  <tbody>
    @for (concert of concerts; track concert.artist){
    <tr>
      <td>{{concert.artist}}</td>
      <td>{{concert.place}}</td>
      <td>{{concert.date}}</td>
      <td>{{concert.time}}</td>
      @if (concert.available == true){
        <td>Disponible</td>
      } @else {
        <td><span class="badge text-bg-warning">SIN STOCK</span></td>
      }
      <td>{{concert.stock}}</td>

      <td>
        <button (click)="decrementarCantidad(concert)">-</button>
        <input type="text" [(ngModel)]="concert.quantity" (keyup)="onChangeQuantity($event, concert)">
        <button (click)="incrementarCantidad(concert)">+</button>
      </td>
    </tr>
    }
    @empty {
      <tr>
        <td>No hay ningún evento para mostrar!</td>
      </tr>
    }
  </tbody>
</table>
